{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock title %} - Anno</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}"> 
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
    <script src="https://kit.fontawesome.com/499381f5fe.js" crossorigin="anonymous"></script>
  </head>
  
  <body class="container-fluid">
    <header class="mb-4 header">
      <h1 class="display-4 text-center font-weight-bold text-primary">
        <i class="fas fa-scroll"></i>
        Anno
      </h1>
      <p class="lead text-center">Веб-доска для ваших объявлений о продаже</p>
    <header>

    <main class="mb-5 pb-5">
      <section class="row bg-dark d-flex justify-content-between">
        <h2 class="text-white font-weight-bold ml-3">Меню</h2>

        <ul class="col nav align-items-center justify-content-end">
          <li class="nav-item">
            <a class="btn btn-primary text-white" href="{% url 'main:register' %}">
              <i class="fas fa-journal-whills"></i>
              Регистрация
            </a>
          </li>

          {% if user.is_authenticated %} 
            <li class="nav-item dropdown dropleft ml-2">
              <a class="btn btn-secondary dropdown-toggle text-white" 
              data-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cogs"></i>
                Профиль
              </a>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'main:profile' %}">
                  <i class="fas fa-list text-success"></i>
                  Moи объявления
                </a>

                <a class="dropdown-item" href="{% url 'main:profile_change' %}">
                  <i class="fas fa-user-edit text-primary"></i>
                  Редактировать профиль
                </a>

                <a class="dropdown-item" href="{% url 'main:password_change' %}">
                  <i class="fas fa-key text-warning"></i>
                  Изменить пароль
                </a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="{% url 'main:logout' %}">
                  <i class="fas fa-sign-out-alt"></i>
                  Выйти
                </a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="{% url 'main:profile_delete' %}">
                  <i class="fas fa-trash-alt text-danger"></i>
                  Удалить профиль
                </a>
              </div>
            </li>
          {% else %}

            <li class="nav-item">
              <a class="btn btn-success text-white ml-3" href="{% url 'main:login' %}">
                <i class="fas fa-sign-in-alt"></i>
                Bxoд
              </a>
            </li>
          {% endif %}
        </ul>
      </section>

      <section class="row">
        <nav class="col-md-auto nav flex-column border">
          <a class="nav-link root" href="{% url 'main:index' %}">
            <i class="fas fa-home"></i>
            Главная
          </a>

          {% for rubric in rubrics %}
            {% ifchanged rubric.super_rubric.pk %}
              <span class="nav-link root font-weight-bold">
                {% if rubric.super_rubric.name == 'Транспорт' %}
                  <i class="fas fa-car-side"></i>
                {% endif %}
                {{rubric.super_rubric.name}}
              </span>
            {% endifchanged %}

            <a class="nav-link" href="{% url 'main:by_rubric' pk=rubric.pk %}">
                {% if rubric.name == 'Автомобили'%}
                  <i class="fas fa-car-alt"></i>
                {% endif %}
              {{rubric.name}}
            </a>
          {% endfor %}

          <a class="nav-link root" href="{% url 'main:other' page='about' %}">
            <i class="fas fa-info"></i>
            О сайте
          </a>
        </nav>

        <section class="col border ру-2">
          {% bootstrap_messages %}
          {% block content %}{% endblock %}
        </section> 
      </section>
    </main>

    <footer class="mt-5 ml-0 mr-0 pt-5">
      <p class="text-center font-italic text-primary font-weight-bold mr-3">&copy; bespolezniy</p>
    </footer> 
  </body>
</html>